body {
  background-color: black;
  color: white;
  position: absolute;
}

.cell {
  
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 2em;
}



.modal {
  color: rgb(242, 228, 28);
  margin-right: 70px;
  margin-top: 200px;
  background-color: rgba(255, 0, 0, 0.589);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
}

button{
  margin-top: 5px;
  cursor: pointer;
  padding: 5px;
  font-weight: bolder;
  border: 2px solid black;
}
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */